<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Sales Consultant Agreement</title>


</head>

<body >

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:18.0pt;font-family:"Calibri",sans-serif'>SALES CONSULTANT AGREEMENT</span></b></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'> This
Sales Consultant Agreement (&quot;Agreement&quot;) is executed and effective on
the {DATE} day of {MONTH}, 2021, by and between:</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-family:"Calibri",sans-serif'>Sales
Consultant</span></b><span style='font-family:"Calibri",sans-serif'>: {NAME} bearing
PAN No. {PANNO} (&quot;<b>Consultant</b>&quot;)  </span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'>AND</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-family:"Calibri",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-family:"Calibri",sans-serif'>Client</span></b><span
style='font-family:"Calibri",sans-serif'>: <b>OVOT PRIVATE LIMITED</b>, a
Company registered under the Companies Act, 2013 bearing the Company
Identification Number (&quot;CIN”) U31100PN2018PTC179173, PAN NO-AACCO7927M,
GSTIN- 27AACCO7927M1ZV and having its registered office at 403, East Court,
Near Phoenix Market City, Viman Nagar, Pune, Maharashtra 411014 India (&quot;<b>Client</b>&quot;/<b>OVOT</b>).</span>
<span style='font-family:"Calibri",sans-serif'>which term includes its Affiliates)
such expression, shall, unless it is repugnant to the meaning or context
hereof, includes its successors and permitted assigns, on the OTHER PART.</span></p>



</div>

</body>

</html>
