<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" executionTimeout="7200"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
      <!--For Not accessing the webservices-->
      <!--<wsdlHelpGenerator href="error.aspx"/>--> 
    </webServices>
  </system.web>
  <connectionStrings>

    <add name="ConnectionString" connectionString="SERVER=103.186.185.16; DATABASE=ovots_dev2; UID=AYASTO; PASSWORD=My#SQL@2021;default command timeout=800"/>
    <!--<add name="ConnectionString" connectionString="SERVER=202.66.172.185; DATABASE=ovot_incentive; UID=AYASTO; PASSWORD=My#SQL@2021;default command timeout=800"/>-->
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ImagePathURL" value="http://ovotbackoffice.poshsmetal.com/customerinvoice/Uploads/"/>
    <add key="ftp" value="ftp://103.48.51.106"/>
    <add key="ftpUser" value="ovot"/>
    <add key="ftpPass" value="F568*dcb3@gh908"/>
    <add key="VersionInfo" value="Copyright OVOT Pvt. Ltd - 2021-DEV-Ver-1.0.0(Build-27102021)"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="info@ayasto.com"/>
    <add key="Password" value="SH@Nkar@#$1617"/>
    <add key="MailTo" value="dev.effocess@gmail.com"/> <!--info@amstradworld.com -->
    <add key="Port" value="587" />
    <add key="AppStatus" value="Active" />
  </appSettings>
</configuration>
